.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px;
    border: 1px solid black;
}

.logo{
    width: 80px;
}

.nav-items{
    list-style: none;
    display: flex;
}
.nav-items > li{
padding: 10px;
}